.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color:rgb(243, 211, 28)
}
.menu {
  background: inherit;
  height: 55px;
  font-size: x-large;
  background-color:rgb(243, 211, 28)
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 55px;
  background-color:rgb(243, 211, 28)
}
.mat-icon {
  margin: 10px;
  font-size: 20px;
}

.tool {
  background-color: rgb(94, 136, 199);
}
